{% extends 'Front/base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="container vh-100">
        <h1 class="mb-5">Vos abonnés</h1>
        {% if follows is not empty %}
            {% for follow in follows %}
                {{ follow[0]['email']}}
                {{ follow[0]['createdAt'] | date('d/m/Y')}}
                <hr>
            {% endfor %}
        {% else %}
            <p>Aucun résultat.</p>
        {% endif %}
    </div>
{% endblock %}
