{% extends 'Front/base.html.twig' %}

{% block title %}Abonnés ({{ follows | length}}) {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Vos abonnés ({{ follows | length}})</h1>
        <div class="form-group mb-5">
            <fieldset>
                <label class="control-label" for="searchUser">Rechercher un utilisateur</label>
                <input class="form-control" id="searchUser" type="text" placeholder="Utilisateurs...">
            </fieldset>
        </div>
        {% if follows is not empty %}
                {% for follow in follows %}
                    <ul>
                        <li>
                            {{ follow['username'] }}
                        </li>
                    </ul>
                {% endfor %}
        {% else %}
            <p>Aucun résultat.</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $( "input#searchUser" ).keyup(function() {
                let value = $( this ).val();
                $("div#searchUser div p").filter(function() {
                    if ($(this).text().substr(0, value.length) === value){
                        $("div#searchUser").removeClass('d-none')
                    }else{
                        $("div#searchUser").addClass('d-none')
                    }
                });
            })
        });
    </script>

{% endblock %}


