.vw-25 {
    width: 25vw;
}

.vw-30{
    width: 30vw;
}


.vw-50{
    width: 50vw;
}

.vw-85{
    width: 85vw;
}

.font-size-date{
    font-size: 10px;
}

.avatar-radius {
    border-radius: 50%;
}

.avatar-notification {
    max-height: 50px;
}

.avatar-edit-account {
    max-height: 100px;
}

.number-font-size {
    font-size: x-large;
}

.bg-grey {
    background-color: rgb(245, 245, 245);
}

.bg-grey:hover{
    background-color: rgb(227, 227, 227);
}

.color-pair:nth-child(2n){
    background-color: rgb(245, 245, 245);
}

.bg-black-light{
    background-color: rgb(157, 157, 157);
}