{% extends 'Front/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container-fluid vh-100">
        <h1 class="text-center">Mon compte</h1>
        <div class="d-flex justify-content-between flex-wrap">
            <div style="height: 250px;width: 300px; background-color: blue;">

            </div>
            
        </div>

    </div>
{% endblock %}

