{% extends 'Front/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <button class="btn btn-secondary">Follow</button>
    </div>
{% endblock %}

