{% extends 'Front/base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="vw-25">
            <form action="{{ path('authentication_account') }}" method="POST" id="login">
                <p class="h4 mb-4">Connexion</p>

                {% if hasError %}
                    <div class="alert alert-danger">
                        <i class="fas fa-ban"></i> Une erreur est survenue, le nom d'utilisateur ou le mot de passe est incorrect.
                    </div>
                {% endif %}

                <div class="form-outline">
                    <input type="email" class="form-control mb-4" id="email" name="_username" value="{{ username }}" required />
                    <label for="email" class="form-label">Adresse e-mail</label>
                </div>

                <div class="form-outline">
                    <input type="password" class="form-control" id="password" name="_password" data-toggle="password" required />
                    <label for="password" class="form-label">Mot de passe</label>
                </div>

                <button id="submit" class="btn btn-secondary btn-block my-4" type="submit">
                    Se connecter
                </button>



                <p>Pas encore membre ?
                    <a href="{{ path('authentication_registration') }}" class="blue-text">Inscription</a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}

