<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Blogging | {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include '/_partials/navbar/navbar.html.twig' %}
        {% endblock %}

        {% block notification %}

            <div class="container mt-5">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

        {% endblock %}

        {% block body %}

        {% endblock %}

        {% block footer %}
            {% include '/_partials/footer/footer.html.twig' %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
