<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blogging | {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block progress %}
            <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {% endblock %}

        {% block navbar %}
            {% include 'Front/_partials/navbar/navbar.html.twig' %}
        {% endblock %}

        {% block alert %}
            {% include 'Front/_partials/notification/alert.html.twig' %}
        {% endblock %}

        {% block notification %}
            <div class="container mt-5">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <p class="note note-{{ label }} text-center">
                            {{ message | raw }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block body %}

        {% endblock %}

        {% block footer %}
            {% include 'Front/_partials/footer/footer.html.twig' %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

        {% block websocket %}
            {% include 'Front/_partials/notification/websocket.html.twig' %}
        {% endblock %}

        {% block momentjs %}
            {% include 'Front/_partials/notification/navbar_notification.html.twig' %}
        {% endblock %}
    </body>
</html>
